body{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

body a:hover{
	color: #00CED1;
	transition: all 0.4s;
}

body .top-btn:hover{
	border: 1px solid white;
	transition: all 0.4s;
	color: rgba(255, 255, 255, 0.8);
}

header{
	height: 50px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	line-height: 50px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.contain {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-left{
	float:left;
}

.logo{
	font-family: 'Dosis', sans-serif;
	color: #777;
	font-weight: bold;
	font-size: 18px;
}

.header-right{
	float:right;
}

.header-right li{
	float:left;
	line-height: 17px;
}

.header-right a{
	color: #323A45;
	padding: 10px;
	font-weight: 600;
	font-size: 14px;
}

.bgc{
	background-color: rgba(0,0,0,0.6);
	padding-top: 180px;
	padding-bottom: 150px;
}

.top{
	background-image: url("images/backgrounds/top.jpg");
	background-size: cover;
	margin: 0 auto;
	color: white;
	text-align: center;
}
body{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

body a:hover{
	color: #00CED1;
	transition: all 0.4s;
}

body .top-btn:hover{
	border: 1px solid white;
	transition: all 0.4s;
	color: rgba(255, 255, 255, 0.8);
}

header{
	height: 50px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	line-height: 50px;
	box-shadow: 0 2px #dcdcdc;
	z-index: 10;
}

.contain {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-left{
	float:left;
}

.logo{
	font-family: 'Dosis', sans-serif;
	color: #777;
	font-weight: bold;
	font-size: 18px;
}

.header-right{
	float:right;
}

.header-right li{
	float:left;
	line-height: 17px;
}

.header-right a{
	color: #323A45;
	padding: 10px;
	font-weight: 600;
	font-size: 14px;
}

.bgc{
	background-color: rgba(0,0,0,0.6);
	padding-top: 180px;
	padding-bottom: 150px;
}

.top{
	background-image: url("images/backgrounds/top.jpg");
	background-size: cover;
	margin: 0 auto;
	color: white;
	text-align: center;
}


.top-title{
	font-size: 48px;
	font-weight: 200;
	margin: 25px;
	font-family: 'Dosis', sans-serif;
}

.top-text{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: lighter;
	margin-bottom: 45px;
}

.top-btn{
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.05);
	padding: 14px 21px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	font-size: 18px;
}

.contain h2{
	font-weight: 200;
	color: #555;
	font-size: 32px;
	line-height: 100px;
}

.contain h3{
	font-size:18px;
	color: #444;
	font-weight: 300;
}

.contain p{
	color: #777;
	font-size: 14px;
	font-weight: 200;
	font-family: sans-serif;
}

.lesson{
	text-align: center;
}

.lesson-top {
	display: inline-block;
	margin-right: 40px;
}

.lesson-bottom{
	display: inline-block;
}

.lesson-item{
	margin-bottom:40px;
	width: 350px;
}

.char{
	margin-top: 50px;
}

.char h2{
position: relative;
top: 40px;
z-index: 0;
}

.char-top{
	background-color: #f4f4f4;
	height: 380px;
	text-align: center;
}

.char-bottom{
	margin-top:100px;
	margin-bottom: 30px;
	padding-left: 95px;
}

.char-item{
	display: inline-block;
	width:40%;
	vertical-align: top;
	margin-right: 80px;
margin-bottom: 30px;
}

.char-bottom h3{
	font-size:18px;
	color: #444;
	font-weight: 300;
}

.char-bottom p{
	color: #777;
	font-size: 14px;
	font-weight: 200;
	font-family: sans-serif;
}

.course{
	background-color: #f4f4f4;;
	text-align: center;
	height: 850px;
}

.course-title{
	padding-top: 30px;
}

.course-item{
	display: inline-block;
	background-color: white;
	width: 30%;
	margin: 10px;
	height: 600px;
}

.course-title h2{
	line-height: 60px;
}

.course-header{
	margin: 15px;
}

.header-top{
	background-color: #323A45;
}

.contain .header-top{
	color: white;
}

.header-bottom{
	background-color: #F5F5F5;
}

.selected{
	background-color: #00CED1	;
}

.course-content{
	margin-bottom: 40px;
}

.course-content li{
	color: #888;
	font-size: 14px;
	font-weight: 200;
	font-family: sans-serif;
	margin-bottom: 20px;
	border-bottom: 1px solid #888;
	padding-bottom: 20px;
}

.course-btn{
	background-color: #333;
	color: #c9d1d6;
	padding: 18px 23px;
}

body .course-btn:hover{
	transition: all 0.5s;
	background-color:#444;
	color: #ddd;
}

.mentor{
	text-align: center;
}

.mentor-item{
	width: 850px;
	margin: 0 auto;
}

.mentor-item img{
	height: 200px;
	width: 200px;
	border-radius: 300px;
}

.mentor-item p{
	font-size: 18px;
	font-weight: 400;
}

.mentor-item h6{
	color: #999;
	font-size: 14px;
	font-weight: 100;
}

.message{
	background-image: url("images/backgrounds/night_view.jpg");
	background-size: cover;
	text-align: center;
}

.message-bgc{
	background-color: rgba(0, 0, 0, 0.6);
	padding: 120px 0;
	height: 100%;
}

.message h4{
	color: white;
	font-size: 22px;
	line-height: 40px;
	font-weight: 100;
}

.colum{
	text-align: center;
	background-color: #f4f4f4;;
}

.colum-title{
	padding-top: 20px;
}

.colum-menu{
	margin-top: -20px;
}

.colum-menu-btn {
	display: inline;
	padding: 10px 14px;
	color: #323A45;
	font-weight: 500;
	background-color: white;
	margin-right: 5px;
}

.colum-menu-btn:hover{
	transition: all 0.3s;
	color: white;
	background-color: #00CED1;
	cursor: pointer;
}

.colum-menu .selected{
	color: white;
	background-color: #00CED1;
	cursor: default;
}

.colums{
	margin-top:20px;
}

.colum-item-top{
	position: relative;
	top:10px;
	left: auto;
}

.colum-item-top img{
	height: 250px;
	width: 450px;
}

.colum-item-top a{
	color: #555;
	font-weight: 600;
}

.colum-item{
	height: 350px;
	width: 470px;
	background-color: white;
	margin-bottom: 10px;
	display: inline-block;
	margin: 15px;
	box-shadow: 0 2px #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}

.colum-btn{
	background-color: #333;
	color: #c9d1d6;
	padding: 14px 16px;
}

.colum-bottom{
	line-height: 130px;
}

body .colum-btn:hover{
	transition: all 0.5s;
	background-color:#444;
	color: #ddd;
}

.contact{
	background-image: url("images/backgrounds/contact.jpg");
	background-size: cover;
	text-align: center;
}

.contact-bgc{
	background-color: rgba(0,0,0,0.6);
	padding-top: 20px;
	padding-bottom:80px;
}

.contain .contact-title h2{
	color: white;
}

.contain .contact-text{
	color: white;
	text-align: left;
}

.contact h4{
	font-size: 24px;
	font-weight: 300;
}

.contact p{
	color: white;
}

.contact-text{
	display: inline-block;
	margin-top: -85px;
}

.contact-left{
	float: left;
	width: 60%;
	display: block;
}

.contact-right{
	float: right;
	display: block;
	width: 40%;
}

.form-frame{
	width:600px;
	height: 50px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.1);
	border: none;
}

.contact-form .form-frame-message{
	height: 200px;
}

.submit{
	background-color: #00CED1;
	color: white;
	padding: 20px 30px;
}

.contact-right-bottom{
	margin-top: 25px;
}

.follow{
	text-align: center;
}

footer{
	background-color: #222;
	text-align: center;
	color: white;
	padding: 16px 0;
}
